<h1 class="text-center" style="margin: 40px">My list of cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <% image_path = cocktail.photos.length > 0 ? cocktail.photos.first.path : "https://unsplash.it/300/300" %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url('<%= cl_image_path image_path, height: 200, width: 300, crop: :fill %>')">
        <h2><%= cocktail.name %></h2>
      </div>
        <div class="card-footer">
          <%= link_to "Details", cocktail %>
          <%= link_to "Edit", edit_cocktail_path(cocktail) %>
          <%= link_to "Delete", cocktail, method: :delete, data: { confirm: "Are you sure?" }%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>


