<%= link_to "Menu", cocktails_path %>
<h1 class="text-center"><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %>
  <%= dose.description %>
<% end %>



<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>



